<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="lib/style.css" />
    <script src="lib/script.js"></script>
    <script src="lib/directive.js"></script>
  </head>

  <body ng-app="todo" ng-controller="TodoCtrl">
    <div class="container">

      <todo-title></todo-title>

      <form name="todoForm" ng-submit="add(newTodoTitle)">

        <div class="input-group">
          <input type="text" class="form-control" ng-model="newTodoTitle" placeholder="Input new to do" minlength="3">
          <span>
            <button type="submit"> Add </button>
          </span>
        </div>

        <div ng-show="todoForm.$dirty && todoForm.$invalid">
          <div role="alert"> Input minlength is 3 </div>
        </div>
        
      </form>

      <pre> {{todoForm | json}} </pre>

      <ul>
        <li ng-repeat="todo in todos | filter: statusFilter">
          <todo-item></todo-item>
        </li>
      </ul>

      <button ng-click="statusFilter={completed:true}"> Completed </button>
      <button ng-click="statusFilter={completed:false}"> Active </button>
      <button ng-click="statusFilter={}"> All </button>

    </div>
  </body>
</html>