<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="lib/style.css" />
    <script src="lib/script.js"></script>
  </head>

  <body ng-app="todo" ng-controller="TodoCtrl">
      <h1> Todo </h1>
      <ul>
        <li ng-repeat="todo in todos">
          <input type="text" ng-model="todo.title">
          <input type="checkbox" ng-model="todo.completed">
          <span>
            <button type="button" ng-click="remove(todo)"> Delete </button>
          </span>
          <date> {{ todo.createdAt | date : 'yyyy-MM-dd HH:mm:ss' }} </date>
        </li>
      </ul>
  </body>
</html>